{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Project Wotan</title>
  <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}' />
</head>

<body>
  {% include "./nav.html" %}
  <div class="main-content">
    {% block content %}{% endblock %}
  </div>
  {% include "./footer.html" %}

  <script src="//cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src='//cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
  <script src='{% static "js/shortcuts.js" %}'></script>
  {% block js %}{% endblock %}
</body>
</html>
