<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li>
            <a href="#quickstart"><span class="glyphicon glyphicon-exclamation"></span> Quick Start</a>
        </li>
        <li>
            <a href="/about/"><span class="glyphicon glyphicon-question"></span> About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href="https://paularmer.me"><span class="glyphicon glyphicon-person"></span> Me</a>
        </li>
      </ul>
    </div>
  </nav>