<nav class="nav">
  <a class="nav__logo" href="/">
    <span class="nav__logo__image icon icon-subroutine"></span>
    <span class="nav__logo__text">Project Wotan</span>
  </a>

  <ul class="nav__group">
    <li>
      <a class="nav__link" href="#quickstart">
        <span class="glyphicon glyphicon-exclamation"></span> Quick Start
      </a>
    </li>
    <li>
      <a class="nav__link" href="#quickstart">
        <span class="glyphicon glyphicon-exclamation"></span> About
      </a>
    </li>
    <li>
      <a class="nav__link" href="#quickstart">
        <span class="glyphicon glyphicon-exclamation"></span> Contact
      </a>
    </li>
  </ul>
</nav>