{% extends "base/_.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h3>About</h3>
    <p>
        Add cards by searching for them with the text field. You can search for any 
        ice or breaker with any part of the card name, as long as that search query
        only yields one result. Remove cards by 
    </p>
    <h3>TODO</h3>
    <ul>
        <li>Add subtype quick links (e.g. only barriers, only AI, etc)</li>
        <li>Style the table better</li> 
        <li>Link sharing</li>
    </ul>
    <p>
        Created by <a href="paularmer.me">Paul Armer</a>
    </p>
</div>

{% endblock %}