{% extends "base/_.html" %}
{% load staticfiles %}

{% block js %}
  <script src='{% static "js/http.js" %}'></script>
  <script src='{% static "js/break-cost-table.js" %}'></script>
{% endblock %}

{% block content %}
  <div id="break-cost-table">
    <form class="card-form" v-on:submit.prevent="searchForCardWithQuery">
        <input v-model="query" />
        <button type="submit">Search</button>

        <div>[[ searchError ]]</div>
    </form>

    <div class="break-table">
      <div class="break-table__row">
        <div class="break-table__cell --header --spacer"></div>
        <div class="break-table__cell --header"
          v-for="iceCode in iceCodes"
        >
          <table-card v-bind:card="cards[iceCode]"></table-card>
        </div>
      </div>
      <div class="break-table__row"
        v-for="(breakCostList, breakerCode) in breakData" 
      >
        <div class="break-table__cell --header">
          <table-card v-bind:card="cards[breakerCode]"></table-card>
        </div>
        <div class="break-table__cell"
          v-for="(breakCost, iceCode) in breakCostList"
        >
          <span class="format-credit"
            v-if="breakCost > -1"
          >
            [[ breakCost ]]<span class="icon icon-credit"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}