{% extends "base/_.html" %}
{% load staticfiles %}

{% block js %}
  <script src='{% static "js/http.js" %}'></script>
  <script src='{% static "js/break-cost-table.js" %}'></script>
{% endblock %}

{% block content %}

  <script id="wtn-card" type="text/html">
    <div class="card" v-bind:class="[card.type, card.isNisei ? null : 'old-layout']" v-if="card">
      <a class="card__remove" v-on:click="remove(card)">&times;</a>
      <div class="card__image"><img v-bind:src="card.image" /></div>
      <span class="card__name">[[ card.name ]]</span>
    </div>
  </script>

  <div id="break-cost-table">
    <div class="break-table">
      <div class="break-table__row">
        <div class="break-table__cell --header --form">
          <form class="card-form" 
            v-on:submit.prevent="searchForCardWithQuery"
          >
              <input v-model="query" />
              <button type="submit">Add</button>
      
              <div>[[ searchError ]]</div>
          </form>
        </div>
        <div class="break-table__cell --header"
          v-for="iceCode in iceCodes"
        >
          <wtn-card 
            v-bind:card="cards[iceCode]" 
            v-bind:remove="removeCard">
          </wtn-card>
        </div>
      </div>
      <div class="break-table__row"
        v-for="(breakCostList, breakerCode) in breakData" 
      >
        <div class="break-table__cell --header">
          <wtn-card 
            v-bind:card="cards[breakerCode]"
            v-bind:remove="removeCard">
          </wtn-card>
        </div>
        <div class="break-table__cell"
          v-for="(breakCost, iceCode) in breakCostList"
        >
          <span class="format-credit"
            v-if="breakCost > -1"
          >
            [[ breakCost ]]<span class="icon icon-credit"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}