{% extends "base/_.html" %}
{% load staticfiles %}

{% block js %}
  <script src='{% static "js/http.js" %}'></script>
  <script src='{% static "js/break-cost-table.js" %}'></script>
{% endblock %}

{% block content %}

  <svg height="0" width="0" viewBox="0 0 100 100">
    <defs>
      <mask id="target-mask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox">
        <circle cx="0" cy="0" r=".35" fill="white" />
      </mask>
      <symbol id="eighth-of-circle">
        <path d="
          M70.71 100
          L0 100
          C0 100 0 70.71 20.71 50
          z
        "></path>
      </symbol>
    </defs>
  </svg>

  <script id="ia-card" type="text/html">
    <div class="card" v-bind:class="cssClasses" v-if="card">
      <div class="card__image"><img v-bind:src="card.image" /></div>
      <svg v-if="top"
        class="card__arc-container" viewBox="0 0 100 100"
      >
        <use class="card__arc" xlink:href="#eighth-of-circle"/>
      </svg>
      <div class="card__info">
          <a class="card__info__remove" v-on:click="remove(card)">&times;</a>

          <div class="card__name">[[ card.name ]]</div>
          <span v-for="stat in stats"
            v-bind:class="stat.cssClass" 
          >
            [[ stat.value ]]
          </span>
      </div>
    </div>
  </script>

  <div id="break-cost-table">
    <div class="break-table">
      <div class="break-table__row">
        <div class="break-table__cell --header --form">
          <form class="card-form" 
            v-on:submit.prevent="searchForCardWithQuery"
          >
              <input v-model="query" />
              <button type="submit">Add</button>
      
              <div>[[ searchError ]]</div>
          </form>
        </div>
        <div class="break-table__cell --header"
          v-for="(iceCode, index) in iceCodes"
          v-on:mouseover="setHover(iceCode, null)"
          v-bind:class="cellCssClasses(iceCode, 0)"
          v-on:click="toggleHoverFreeze()"
        >
          <ia-card 
            v-bind:card="cards[iceCode]" 
            v-bind:top="true"
            v-bind:remove="removeCard"
          ></ia-card>
        </div>
      </div>
      <div class="break-table__row"
        v-for="(breakCostList, breakerCode) in breakData" 
      >
        <div class="break-table__cell --header"
          v-on:mouseover="setHover(null, breakerCode)"
          v-on:click="toggleHoverFreeze()"
          v-bind:class="cellCssClasses(0, breakerCode)"
        >
          <ia-card 
            v-bind:card="cards[breakerCode]"
            v-bind:remove="removeCard">
          </ia-card>
        </div>
        <div class="break-table__cell"
          v-for="(breakCost, iceCode) in breakCostList"
          v-on:mouseover="setHover(iceCode, breakerCode)"
          v-on:click="toggleHoverFreeze()"
          v-bind:class="cellCssClasses(iceCode, breakerCode)"
        >
          <span class="format-credit"
            v-if="breakCost > -1"
          >
            [[ breakCost ]]<span class="icon icon-credit"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}