$cell-dimention: 5em;
$header-dimention: 15em;
$side-padding: 1em;
$cell-spacing: 0.5em;
$cell-border-width: 3px;
$cell-bg-color: mix($color-white, $color-gray-light);
$cell-bg-color-hover: mix($color-white, $color-gray-light, 75%);
$border-color: fade-out($color-white, 0.7);

.break-table {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: $header-dimention * .75;
    margin-bottom: $header-dimention * .75;
    margin-left: $header-dimention * .25;
    
    &__row {
        display: flex;
        flex-direction: row;
        padding-left: $side-padding;
        width: 0;
    }

    &__cell {
        $cc: &;

        display: flex;
        justify-content: center;
        align-items: center;
        height: $cell-dimention;
        width: $cell-dimention;
        flex: 1 0 #{$cell-dimention};
        text-align: right;
        margin: $cell-spacing / 2;
        bottom: 0;

        background: $cell-bg-color;
        color: $color-indigo-dim;
        transition-property: all;
        transition-duration: $hover-time;

        &:before {
            content: '';
            width: 100%;
            height: 0;
            background: inherit;
            position: absolute;
        }

        &.--hover {
            background: $cell-bg-color-hover;
            border: 1px solid transparent;

            &-row {
                margin-left: -$cell-spacing / 2;
                margin-right: -$cell-spacing / 2;
                flex: 1 0 #{$cell-dimention + 2 * $cell-spacing};
                border-right: none !important;
                border-left: none !important;

                &.--header {
                    left: $cell-spacing;
                    margin-left: 0;
                    margin-right: $cell-spacing;
                }
            }

            &-column {
                height: $cell-dimention + 2 * $cell-spacing;
                margin-top: -$cell-spacing / 2;
                margin-bottom: -$cell-spacing / 2;
                border-top: none !important;
                border-bottom: none !important;

                &.--header {
                    bottom: $cell-spacing;
                }
            }

            &-target {
                border-radius: $cell-spacing;
                z-index: 1;
            }

            #{$cc}__arc-container {
                width: $cell-dimention;
                margin-right: 0;
            }
        }



        &.--frozen {
            background: lighten($color-seafoam, 59%);
            border-color: fade-out($color-seafoam, 0.75);
        }

        &.--form {
        }

        &.--header {
            flex-direction: row;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background: transparent;
            border: none;
            position: relative;

            &:first-child {
                flex: 1 0 #{$header-dimention};
            }
        }

        &__arc-container {
            width: $cell-dimention - 2 * $cell-spacing;
            margin-right: $cell-spacing;

            transition-property: margin-right, width;
            transition-duration: $hover-time;
        }

        &__arc {
            fill: $color-indigo-dim;
        }
    }
}

.card {
    $c: &;

    $thumbnail-dimention: $cell-dimention * .7071;
    $card-padding: 12px;

    display: flex;
    height: $thumbnail-dimention;
    flex-direction: row;
    width: $header-dimention;
    position: relative;
    align-items: flex-start;

    &__remove {
        font-size: 1.25em;
        line-height: 0.5;
        cursor: pointer;
        opacity: 0.5;
        background: $color-indigo-dim;
        color: white;
        z-index: -1;
        top: 0;
        position: absolute;
        transition-property: transform;
        transition-duration: $hover-time * 2;

        &:hover {
            opacity: 0.75;
        }
    }

    &__image {
        $card-img-border-radius: 2 * $cell-border-width;

        height: $thumbnail-dimention;
        flex: 0 0 $thumbnail-dimention;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
        }
    }

    &__name {
        font-size: 1.15em;
    }

    &__info {
        text-align: left;
        padding: 0.5em;
        flex: 0 1 100%;
        background: $cell-bg-color;
        transition-property: background;
        transition-duration: $hover-time;
    }

    &.ice {
        flex-direction: row-reverse;
        align-self: center;

        img {
            transform: rotateZ(90deg);
            width: 180%;
            left: 25%;
            top: -80%;
        }

        #{$c}__remove {
            padding: 0.3em 0.5em 0.5em 0.3em;
            border-bottom-right-radius: 100%;
            left: 0;
            transform-origin: top left;
        }
    }

    &.breaker {   
        position: absolute;
        bottom: 0;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        left: 100%;

        img {
            width: 190%;
            left: -50%;
            top: -33%;
        }

        &.--old-layout {
            img {
                width: 210%;
                left: -77%;
                top: -21%;
                transform: rotate(10deg);         
            }
        }

        #{$c}__remove {
            padding: 0.3em 0.3em 0.5em 0.5em;
            border-bottom-left-radius: 100%;
            right: 0;
            transform-origin: top right;
        }
    }

    .--hover & {
        #{$c}__info {
            background: $cell-bg-color-hover;
        }

        &.ice {
            #{$c}__remove {
                transform: rotate(90deg);
            }
        }

        &.breaker {
            #{$c}__remove {
                transform: rotate(-90deg);
            }
        }
    }
}

.card-form {
    padding: $side-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}