.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    &__logo {
        $slant-width: .65em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: $color-white;
        position: relative;
        flex: 0 0;
        height: 4em;

        &__image {
            $side-padding: .75em;

            display: block;
            height: 100%;
            position: relative;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            background: $color-red;
            padding-left: $side-padding;
            padding-right: $side-padding + ($slant-width * .5);

            &:before, &:after {
                content: '';
                transform: skew(-15deg);
                width: $slant-width;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
            }
    
            &:before {
                right: -($slant-width / 2);
                background: $color-purple-bright;
            }
    
            &:after {
                right: -($slant-width * 1.5);
                background: $color-purple;
            }
        }

        &__text {
            display: none;
        }
    }

    &__group {
        display: flex;
        flex: 1 0;
        flex-direction: row;
        justify-content: flex-end;
        background: rgba($color-white, 0.5);
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        padding: .75em;
        display: block;
        color: $color-purple-bright;
        transition: background $hover-time;

        &:hover {
            background: rgba($color-purple, 0.25);
        }
    }
}